@import url("./firaSans.css");
@import url("./colors.css");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  /* background-image: url("./bg.png") !important; */
  background-size: 100%;
  background-attachment: fixed;
  overflow-y: auto;
  margin: 0 !important;
  padding: 0 !important;
  scrollbar-width: 0px;
}

body::-webkit-scrollbar {
  width: 0px;
}



.mainContent-body {
  margin-top: 74px;
}

.mainContent-body-bt {
  margin-bottom: 74px;
}

.w-maxcontent {
  width: max-content !important;
}

.bgblur {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(8px);
  /* Increase blur for a more pronounced glass effect */
  -webkit-backdrop-filter: blur(5px);
  /* For Safari compatibility */
  border: 1px solid rgba(255, 255, 255, 0.3);
  /* Light border to enhance glass look */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  /* Subtle shadow for depth */
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.model {
  height: 500px;
  min-width: 300px;
}

.model-bg {
  background-size: cover;
  background-attachment: fixed;
}

.model-bg.one {
  background: url("./assets/c1.png");
  background-size: cover;
  background-attachment: fixed;
}

.model-bg.two {
  background: url("./assets/c2.png");
  background-size: cover;
  background-attachment: fixed;
}

.model-bg.three {
  background: url("./assets/c3.png");
  background-size: cover;
  background-attachment: fixed;
}

.bg-blood {
  background: url("./assets/blood.jpg");
  background-size: cover;
  background-attachment: scroll;
  background-color: black;
  background-blend-mode: screen;
}

.text-gradient-1 {
  background: linear-gradient(67deg, rgb(8, 198, 116), green);
  background-clip: text;
  color: transparent;
}

.text-gradient-2 {
  background: linear-gradient(67deg, rgb(0, 32, 7), green);
  background-clip: text;
  color: transparent;
}

.text-gradient-3 {
  background: linear-gradient(67deg, black, red, black);
  background-clip: text;
  color: transparent;
}

.bg-grad-1 {
  background: linear-gradient(67deg, rgb(8, 198, 116), green);
  color: white;

}

.bg-grad-2 {
  background: linear-gradient(67deg, rgb(0, 32, 7), green);
  color: white;

}

.bg-grad-3 {
  background: linear-gradient(67deg, black, red, black);
  color: white;
}